h3 {
  width: 1200px;
  color: #283618;
  margin-bottom: 15px;
  border-bottom: #606c38 solid 1px;
}

.friend-publi {
  text-align: center;

  padding: 20px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  width: 650px;
  height: 500px;
  background: linear-gradient(to bottom left, #283618, #606c38);

  border: hidden;
  border-radius: 3px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

.friend-identification {
  width: 180px;
  margin-right: 430px;
  display: inline-block;
}

.profile-picture-friend {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 0;

  border: rgba(0, 0, 0, 0.5) solid 4px;
}

.friendName{
  margin-left: 0;
}

span {
  margin-left: 10px;
  
  font-size: large;
  font-weight: bolder;
}

.friend-image {
  width: 300px;
  height: 300px;
  object-fit: cover;

  margin: 8px 0;

  border: hidden;
  border-radius: 5px;
}

