h3 {
  width: 1200px;
  color: #283618;
  margin-bottom: 15px;
  border-bottom: #606c38 solid 1px;
}

.publi {
  text-align: center;

  padding: 20px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  width: 650px;
  height: 400px;
  background: linear-gradient(to bottom left, #283618, #606c38);

  border: hidden;
  border-radius: 3px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

.image-publi {
  width: 300px;
  height: 300px;

  border: hidden;
  border-radius: 5px;

  object-fit: cover;
}
