* {
  margin: 0;
  padding: 0;
  color: #ccd5ae;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, #ccd5ae, #d7ddc3);
}

#header {
  width: 100%;
  height: 80px;

  text-align: center;

  top: 0;
  position: fixed;
  
  background-color: #606c38;
}

#icon {  
  width: 40px;
  height: 40px;
  display: inline;
}

#nav {
  height: 40px;
  margin: 0 500px;
  display: inline;
}

a {  
  margin: 0 5px;
  font-size: 17px;
  text-decoration: none;
}

.link-nav {  
  padding: 10px 5px;
  transition: background-color, color 0.5s;
}

.link-nav:hover {  
  color: #606c38;
  background-color: #ccd5ae;
}

#logout {
  margin-top: 5px;
  display: inline-block;
}

#profile-picture {  
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  border: rgba(0, 0, 0, 0.5) solid 2px;
}

#exit {
  display: block;
  padding: 0 5px 10px 5px;
  transition: background-color, color 0.5s;
}

#exit:hover {  
  color: #606c38;
  background-color: #ccd5ae;
}

#content {
  padding: 90px 10px;
}

p{
  font-weight: lighter;
}

#create-publi {
  width: 100%;
  height: 60px;

  bottom: 0;
  position: fixed;

  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #606c38;
}

#new-publi {
  width: 40px;
  height: 40px;
  transition: width height 0.5s;
}

#new-publi:hover{
  width: 50px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background-color: #d7ddc3;
}
::-webkit-scrollbar {
  width: 8px;
  background: rgb(77, 100, 67);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgb(77, 100, 67);
}
